:root {
  --h1-color: #a82c48;
  --p-color: rgb(43, 43, 43);
}

.CardCon {
  margin-bottom: 30px;
  overflow: hidden;
}

.caden {
  margin-top: 150px;
  padding: 4px;
  padding: 15px;
  max-width: 100%;
  overflow: hidden;
}

.CardCon img {
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
}

.CardCon h3 {
  margin: 15px 0 5px;
  color: var(--p-color);
  font-size: 22px;
  height: 60px;
  overflow: hidden;
}
.CardCon span {
  color: var(--p-color);
  font-size: 19px;
  display: block;
}
.CardCon h5 {
  color: var(--h1-color);
  font-size: 30px;
  display: block;
  margin: 15px 0;
}
.CardCon button {
  background-color: var(--h1-color);
  color: white;
  padding: 10px 30px;
  margin: 10px;
  border: 1px solid var(--h1-color);
  font-size: larger;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.CardCon br {
  width: 100px;
  color: black;
}
